<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ avoca_static() }}/css/manage.css">
    {% for css in _CSS %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
    <title>{{ _pageTitle }}</title>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ avoca_url('/manage') }}">{{ profile_name }}</a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ avoca_url('/manage/logout') }}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'manage' and _action == 'index' %}active{% endif %}" href="{{ avoca_url('/manage') }}">
                            <i class="fa fa-home"></i> Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'skills' %}active{% endif %}" href="{{ avoca_url('/skills') }}">
                            <i class="fa fa-home"></i> Skills
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'experiences' %}active{% endif %}" href="{{ avoca_url('/experiences') }}">
                            <i class="fa fa-home"></i> Experiences
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'portfoliocats' %}active{% endif %}" href="{{ avoca_url('/portfoliocats') }}">
                            <i class="fa fa-home"></i> Portfolio Categories
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'portfolios' %}active{% endif %}" href="{{ avoca_url('/portfolios') }}">
                            <i class="fa fa-home"></i> Portfolios
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'blogcats' %}active{% endif %}" href="{{ avoca_url('/blogcats') }}">
                            <i class="fa fa-home"></i> Blog Categories
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'blogs' %}active{% endif %}" href="{{ avoca_url('/blogs') }}">
                            <i class="fa fa-home"></i> Blogs
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'pages' %}active{% endif %}" href="{{ avoca_url('/pages') }}">
                            <i class="fa fa-home"></i> Pages
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if _controller == 'manage' and _action == 'settings' %}active{% endif %}" href="{{ avoca_url('/manage/settings') }}">
                            <i class="fa fa-cogs"></i> Settings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="padding-bottom: 20px">
            {% if get_flash('error') %}
                <div class="alert alert-danger">
                    {{ html_entity_decode(get_flash('error'))|raw }}
                </div>
            {% endif %}
            {% if get_flash('success') %}
                <div class="alert alert-success">
                    {{ html_entity_decode(get_flash('success'))|raw }}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{{ avoca_static() }}/js/manage.js"></script>
{% for js in _JS %}
    <script src="{{ js }}"></script>
{% endfor %}

</body>
</html>